<html  xmlns:th="https://thymeleaf.org">
 <h1 style="color:red;text-align:center"> Edit / Modify Product  </h1>
 <form method="POST" th:object="${p}">
   <table border="1" bgcolor="cyan"  align="center">
   <tr>
         <td> product no ::  </td>
         <td> <input type="text" th:field="*{pid}"  readonly/>  </td>
      </tr>
      
      <tr>
         <td> product name ::  </td>
         <td> <input type="text" th:field="*{pname}"/>  </td>
      </tr>
      
       
      <tr>
         <td> product price ::  </td>
         <td> <input type="text" th:field="*{price}"/>  </td>
      </tr>
      
      <tr>
         <td> product qty ::  </td>
         <td> <input type="text" th:field="*{qty}"/>  </td>
      </tr>
      
      <tr>
         <td colspan="2" align="center"><input type="submit" value="Edit Product"/></td>
      </tr>
   </table>
 </form>
     
